.sursumLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.aboutContent {
  padding-top: 60px;
  display: flex;
  flex-direction: row;
}

.aboutDiv {
  font-family: "Avenir", sans-serif;
  padding: 5% 5% 5% 5%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.sursumLogo {
  padding: 5% 5% 5% 5%;
}

.title-1 {
  color: white;
  text-align: center;
  font-size: 3em;
  font-weight: bold;
}

.title-2 {
  text-align: left;
  font-size: 2em;
}

.creed {
  list-style-type: none;
  font-size: 1.5em;
}

.firstLine {
  margin-left: 2%;
}

.lineOfCreed {
  margin-left: 8%;
}

h4 {
  font-weight: bold;
  text-align: center;
  text-decoration: underline;
}

.aboutInformation {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  width: 50%;
}

.info-paragraph {
  font-size: 1.5em;
}

hr {
  background-color: #22aaa1;
  width: 20%;
  height: 10px !important;
  margin-bottom: 70px !important;
}

@media (max-width: 1200px) {
  .aboutContent {
    padding-top: 0;
    display: flex;
    flex-direction: column;
  }

  .creed {
    font-size: 1.25em;
  }

  .info-paragraph {
    font-size: 1.25em;
  }

  .sursumLogo {
    padding: 10% 30% 0% 15%;
    width: 100%;
  }

  .aboutInformation {
    width: 100%;
  }

  .title-1 {
    padding-top: 0;
  }
}
