.ImageContainer {
  /* overflow: hidden; */
  margin-bottom: 50px;
  display: inline-block;
  padding:25px;
  margin-left: 15;
  margin-right:15;
  animation-timing-function: ease-in;
  animation-name: slideup ;
  text-align: center;
  /* animation-duration: 0.75s; */
}

@keyframes slideup{
  0% { 
    opacity: 0;
    margin-top:50%
  }
  100%{
    opacity: 100;
    margin-top: 0;
  }
}

.ImageContainer:hover{
  transition-duration: 0.75s;
  transform: scale(1.05);
  background-color: lightgray;
  font-weight:1000;
  padding:20px;
}

@media screen and (min-width: 600px) {
  .Image {
    max-width: 48%;
    max-height: 100%;
    padding-left: 5px;
    padding-right:5px;
  }
  .SummaryContainer {
    margin-left: 10px;
  }
  .ImageHeader {
    padding-bottom: 5px;
  }
}

@media screen and (max-width: 599px) {
  .Image {
    height: 0;

  }
}