.title-1 {
  text-align: center;
  font-family: "Avenir", sans-serif;
  font-size: 3em;
  font-weight: bold;
  color: white;
  padding: 0.5em;
}
hr {
  background-color: #22aaa1;
  width: 20%;
  height: 10px !important;
  margin-bottom: 70px !important;
}

.placementInformation {
  background-color: #ffbf00;
  padding: 0 5% 5% 5%;
}

.placements {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.placementImage {
  height: 100%;
  width: 100%;
}

.placementLink {
  padding: 5%;
  width: 50%;
  transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
}

.placementLink:hover {
  padding: 0;
  transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
}

.twos {
  display: flex;
  flex-direction: row;
  width: 100%;
}

@media (min-width: 1000px) {
  .placements {
    flex-direction: row;
  }

  .placementLink {
    width: 16.66;
  }
}
